body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 1.5em;
  color: var(--grey-2);
}

.btn {
  background-color: var(--blue-1);
  border: 1px solid transparent;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: var(--font-size-1);
  line-height: 1.5;
  padding: 6px 18px;
  transition: background-color .15s ease-in-out;
  letter-spacing: 2px;

  &:hover {
    background-color: var(--blue-2);
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;

  &:before{
    content: "";
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: var(--grey-1);
    border: 1px solid var(--grey-2);
  }
  &:after{
    content: "";
    position: relative;
    display: block;
    left: 5px;
    top: -17px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
  }

  &:checked:after{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
    background-size: contain;
  }
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

.category-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  margin-top: var(--spacing-4);
  &:before {
    content: " ";
    width: 5px;
    height: 32px;
    background-color: var(--blue-1);
    margin-right: var(--spacing-2);
  }
}
