.card {
  border: 1px solid var(--grey-1);
  border-radius: 5px;
  display: grid;
  grid-gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;

  .card__khel {
    &-name {
      cursor: pointer;
      display: grid;
      .title {
        font-weight: 500;
        grid-column: 1 / 2;
        pointer-events: none;
      }
      .icon-info {
        align-self: center;
        background-image: url('/images/icon-info.svg');
        background-size: 24px;
        width: 24px;
        height: 24px;
        display: inline-block;
        pointer-events: none;
        grid-column: 2 / 2;
        justify-self: end;
      }
    }

    &-meaning,
    &-aim,
    &-description {
      display: none;
    }
  }

  &.more-info {
    .card__khel {
      &-meaning,
      &-aim,
      &-description {
        display: grid;
        .title {
          font-weight: 500;
          grid-column: 1/1;
        }
        .text {
          grid-column: 1/1;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    &.more-info {
      .card__khel {
        &-meaning,
        &-aim,
        &-description {
          display: grid;
          grid-template-columns: 120px auto;
          .title {
            grid-column: 1/2;
          }
          .text {
            grid-column: 2/2;
          }
        }
      }
    }
  }
}
