:root {
  /* colors */
  --grey-1: #dddddd;
  --grey-2: #212121;
  --blue-1: #007bff;
  --blue-2: #0069d9;

  /* font sizes */
  --font-size-1: 19px;
  --font-size-2: 22px;
  --font-size-3: 25px;
  --font-size-4: 28px;

  /* spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 12px;

}
